beautifulsoup4
boto3
botocore
coverage
cryptography
docx
fitz
frontend
imagehash
language_tool_python
lighthouse
lxml
matplotlib
mock
nest_asyncio
nltk
numpy
openai
opencv-python
openpyxl
pandas
pillow
pillow-avif-plugin
plotly
psutil
PyJWT
pymupdf
pyotp
PyPDF2
pyppeteer
pytesseract
pytest-axe
python-docx
python-pptx
reportlab
requests
robotframework
robotframework-dashboard
robotframework-databaselibrary
robotframework-dependencylibrary
robotframework-jsonlibrary
robotframework-lint
robotframework-mcp
robotframework-metrics
robotframework-pabot
robotframework-requests
robotframework-robocop
robotframework-seleniumlibrary
robotframework-tidy
scikit-image
seaborn
selenium
streamlit
testfixtures
urllib3
websockets
yarl
